extends ../layout

append css
  link(rel='stylesheet', type='text/css', href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons')
  link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css')

append content
  .wrapper#dashboard-content
append script
  script.
    //- window.user = !{JSON.stringify(userInfo)};
  script(src='/dist/main.bundle.js')