//https://company-30254.frontify.com/d/kV1BhDrEnSGq/eyeq-style-guide#/basics/colors
$brand-primary: #2194EA !default;
$brand-primary-200: #1587dd !default;
$brand-info: #57C4D3 !default;
$brand-success: #28a745 !default;
$brand-warning: #EDBD7A !default;
$brand-danger: #D14851 !default;
$brand-rose: $pink-500 !default;
$brand-inverse: #08253A !default;
$brand-secondary: #6B7C89 !default;
